.central-div{
    width: 100% !important;
    aspect-ratio: auto 1280 / 720;
    height: auto;
    background-color: transparent;
    color: white;
    position: relative;
}

.pos-div{
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 100%;
}
.breaking-text{
    background-color: rgb(187, 1, 1);
    width: 40%;
    font-size: 20px;
    padding: 5px 5px 5px 2px;
    margin: 0;
}
.headline{
    background-color: white;
    color: black;
    padding: 3px 0px 5px 4px;
    width: 95%;
    height: 35px;
    margin: 0;
    font-size: 30px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.ticker-div{
    margin: 0;
    display: flex;
    width: 96%;
}
h4{
    margin: 0;
    background-color: black;
    padding: 3px 4px 5px 2px;
    font-size: 14px;
    font-weight: 500;
}
.ticker{
    background-color: yellow;
    color: black;
    padding: 5px 0px 5px 4px;
    width: 100%;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    height: 23px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.live{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: rgb(187, 1, 1);
    color: white;
    font-weight: 700;
    padding: 7px 8px;
    border-radius: 5px;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-btn{
    background-color: limegreen;
    color: white;
    padding: 10px 12px;
    border: none;
    font-size: 17px;
    margin-top: 7px;
}


@media (max-width: 600px) {
    .live{
        padding: 4px 5px;
        font-size: 12px;
    }
    .headline{
        font-size: 20px;
        font-weight: 700;
        height: 25px;
    }
    .ticker{
        font-size: 8px;
        height: 9px;
    }
    h4{
        font-size: 8px;
        padding-top: 4px;
    }
    .ticker-div{
        height: 20px;
    }
    .breaking-text{
        width: 40%;
        font-size: 15px;
        padding: 5px 5px 5px 2px;
    }
}